

h1 {
    font-size: 75px;
    position: relative;
    top: 30px;
    font-weight: bolder;
}

h2 {
    position: absolute;
    right: 50px;
    bottom: 20px;
    background-color: purple;
    font-size: 50px;
    color: white;
}

h3 {
    font-size: 40px;
    width: 15%;
    position: relative;
    top: 30px;
    font-weight: bold;
    border-style: double;
    border-width: 0 5px 0 0;
    margin: 3%;
    padding: 3%;
    height: 80px;
    
}

nav {
    background-color: purple;
    color: white;
    height: 125px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

li {
    float: right;
}

header {
   display: inline-flexbox;
   flex-wrap: wrap;
}

.aboutMe p {
    float: right;
    width: 924px;
    position: relative;
    top: 80px;
    /* bottom: 145px; */
    /* margin-right: 100px; */
    /* margin-left: 100px; */
}

footer li a {
    /* display: flex; */
    /* flex-wrap: wrap; */
    position: relative;
    bottom: 20px;   
}

li a {
    display: inline-block;
    text-align: center;
    padding: 15px 20px;
    font-size: 30px;
    position: relative;
    bottom: 12px;
}

nav li a:hover {
    background-color: gold;
}

footer li a:hover {
    background-color: lightblue;
}



.subtitle {
    background: linear-gradient(purple,gold);
    /* background-color: gold; */
    height: 200px;
    position: relative;                               
}

.aboutMe {
    display: flex;
    flex-wrap: wrap;
}

.work {
    display: flex;
    flex-wrap: wrap;

    
}

.work h3 {
    border: none;
    top: 0px;
}

.work-1 {
    position: relative;
    float:right;
    border: 2px solid black;
    top: 40px;
}

.work-2 {
    display:inline-flex;
    flex-wrap: wrap;
    position: relative;
    float: right;
    margin-left: 400px;
}

.imgStyle {
    height: 200px;
    width: 450px;
    margin: 10px;
    border: 2px solid black;
}



.project2 {
    position: absolute;
    left: 15px;
    top: 15px;
}

.project3 {
    position: absolute;
    right: 570px;
    top: 15px;
}

.project4 {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.project5 {
    position: absolute;
    right: 570px;
    bottom: 15px;
}
