

h1 {
    font-size: 75px;
    position: relative;
    top: 30px;
    font-weight: bolder;
}

h2 {
    position: absolute;
    right: 50px;
    bottom: 20px;
    background-color: purple;
    font-size: 50px;
    color: white;
}

h3 {
    font-size: 40px;
    width: 15%;
    position: relative;
    top: 30px;
    font-weight: bold;
    border-style: double;
    border-width: 0 5px 0 0;
    margin: 3%;
    padding: 3%;
    
}

nav {
    background-color: purple;
    color: white;
    height: 125px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

li {
    float: right;
}

p {
    float: right;
    width: 70%;
    position: relative;
    bottom: 145px;
}

footer li a {
    position: relative;
    bottom: 20px;   
}

li a {
    display: inline-block;
    text-align: center;
    padding: 15px 20px;
    font-size: 30px;
    position: relative;
    bottom: 12px;
}

nav li a:hover {
    background-color: gold;
}

footer li a:hover {
    background-color: lightblue;
}

.subtitle {
    background: linear-gradient(purple,gold);
    /* background-color: gold; */
    height: 200px;
    position: relative;                               
}

.work


   

